.footer {
  background-color: #333;
  color: #fff; /* Define a cor do texto como branco */
  padding: 5%;
  text-align: center; /* Centraliza o texto */
}

.footer a {
  color: #fff; /* Define a cor do link como branco */
  text-decoration: none; /* Remove o sublinhado dos links */
}

.footer-content {
  margin: 5px 0;
}

.footer-content strong {
  color: #ff0; /* Define a cor do texto forte como amarelo */
}
