<!-- Banner oferta principal -->
<section class="banner">
    <div class="banner-content">
      <button>Ver Ofertas</button>
    </div>
  </section>
  
  <!-- Seção de marcas dos tenis -->
  <h2>Marcas famosas</h2>
  <div class="shoes-container">
    <div class="shoe-option">
      <img src="assets/nike.jpg" alt="Nike">
    </div>
    <div class="shoe-option">
      <img src="assets/puma.jpg" alt="Puma">
    </div>
    <div class="shoe-option">
      <img src="assets/newbalance.jpg" alt="newbalance">
    </div>
  </div>
  
  
  <!-- produtos mais vendidos -->
  <h2>Produtos mais vendidos</h2>
  <section class="products">
      @for (product of products; track $index) {
          <div class="product">
              <h2>{{ product.name }}<strong>{{product.bestSeller? " 🔥 Mais vendido": ""}}</strong></h2>
              <img src={{product.img}} alt="">
              <p>Preço: R$ {{ product.price }}</p>
              <p>Informações adicionais sobre {{ product.name }}.</p>
              <button class="add-to-cart">Adicionar ao Carrinho</button>
          </div>
      }
  </section>
  