<app-header></app-header>
<!-- Banner oferta principal -->

<section class="banner">
  <div class="banner-content">
  </div>
</section>
<!-- Seção de marcas dos tenis -->

<!-- produtos mais vendidos -->
<h2>Produtos mais vendidos</h2>
<section class="products">
  @for (product of products; track $index) {
  <mat-card class="product">
    <mat-card-content>
      <h2>
        {{ product.name }}
      </h2>

      <!-- <img src="{{ product. }}" alt="" /> -->
      <p>Preço: R$ {{ product.price }}</p>
      <p>Tamanho: {{ product.size }}</p>
      <button mat-raised-button class="add-to-cart" (click)="addToCart(product)">
        Adicionar ao Carrinho
      </button>
    </mat-card-content>
  </mat-card>
  }
</section>
