<div>
  <!--cabeçalho logo -->
  <mat-toolbar class="header">
    <div class="logo">
      <a routerLink="/">
        <b><span>Plazza Tênis</span></b>
      </a>
    </div>
    <!--icones do cabeçalho -->
    <div class="icons">
      <ng-container *ngIf="currentUser; else notLoggedIn">
        <a>Bem-vindo, {{ currentUser }}!</a>
        <a (click)="logout()" class="logout-icon">
          <mat-icon class="exit">exit_to_app</mat-icon>
          <span>Sair</span>
        </a>
      </ng-container>
      <ng-template #notLoggedIn>
        <a routerLink="/login" class="account-icon">
          <mat-icon>account_circle</mat-icon>
          <a>Entrar</a>
        </a>
      </ng-template>
      <a routerLink="/carrinho" class="cart-icon">
        <mat-icon
          matBadge="{{ items.length }}"
          matBadgePosition="before"
          matBadgeColor="primary"
          >shopping_cart</mat-icon
        >
        <span>Carrinho</span>
      </a>
    </div>
  </mat-toolbar>
</div>
