<app-header-no-search />
<main
  style="
    min-height: 90vh;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
<mat-card class="carrinho">
  <mat-card-header><h2>Meu carrinho</h2></mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-subtitle><h4>Lista de produtos: </h4></mat-card-subtitle>
  <ul>
    @for (item of items; track $index) {
    <mat-card class="item-carrinho">
      <li>{{ item.name }} - R$ {{ item.price }} - QTD: {{ item.quantity }}</li>

    </mat-card>
    }
  </ul>
  <mat-divider></mat-divider>
  <h3><p>Total: R$ {{ calcularTotal() }}</p></h3>

  <a routerLink="/checkout"><button class="checkout">Checkout</button></a>
</mat-card>

