.carrinho {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 50vw;
  margin: 0 auto;
}
.item-carrinho{
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 40vw;
  margin: 0 auto;
}
p{
  justify-content: right;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
button  {
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  background: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.checkout:hover {
  background: grey;
}
