<app-header-no-search />
<main
  style="
    min-height: 90vh;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <mat-card class="carrinho">
    <h2>Meu Carrinho</h2>
    <ul>
      @for (item of items; track $index) {

      <li>{{ item.productID }} - R$ {{ item.price }} - QTD: {{ item.quantity }}</li>
      }
    </ul>
    <p>Total: R$ {{ calcularTotal() }}</p>

    <a routerLink="/checkout"><button>Checkout</button></a>
  </mat-card>
</main>
